<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{discussion.title}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/discussion.css' %}"
    />
  </head>
  <body>
    <div class="header">View Discussion</div>
    <div class="post">
      <b>{{discussion.user}}</b>
      <h2>{{discussion.title}}</h2>
      {{discussion.description}}
      <div>
        <div class="topic">Topic: {{discussion.topic}}</div>
        <div class="topic">Time: {{discussion.date_created}}</div>
      </div>
    </div>
    <div class="post transparent">
      <form method="POST">
        {% csrf_token %}
        <b>Add Comment</b>
        {% for field in form %} {{ field }} {% endfor %}
        <button type="submit" class="submit">Add</button>
      </form>
    </div>
    <div class="comments">
      <div class="post transparent">
        <h3>Comments</h3>
        {% for comment in comments %}
        <b>{{comment.user}}</b>
        {{comment.comment}}
        <div>
          <div class="topic">Time: {{comment.date_created}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
